{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

{% if full_risk_list %}
<div style="overflow-x:auto;">
<a href='../riskdashapp/'>Back to Main Menu</a>
    <table class='center'>
        <tr><th>ID</th><th>Absolute Score</th><th>Residual Score</th><th>Description</th><th>Absolute Likelihood</th><th>Absolute Impact</th><th>Residual Likelihood</th><th>Controls</th><th>Owner</th></tr>    
{% for Risk in full_risk_list %}
        <tr><td>{{ Risk.riskref }}</td><td>{{ Risk.AbsScore }}</td><td>{{ Risk.ResScore }}</td><td>{{ Risk.description }}</td><td>{{ Risk.Absolute_Likelihood }}</td><td>{{ Risk.Absolute_Impact }}</td><td>{{ Risk.Residual_Likelihood }}</td><td>{{ Risk.Associated_Controls.all }}</td><td>{{ Risk.owner }}</td></tr>
    {% endfor %}
    </table>
</div>
{% else %}
    <p>No risks are available.</p>
{% endif %}
