{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />


<div style="overflow-x:auto;">
<h1>Risk Dashboard - Main Menu</h1>
    <ul>
        <li><a href="../topten/">Top Ten Risk Dashboard</li>
        <li><a href="../summary/">Full Risk List</li>
        <li><a href="../controls/">Controls Dashboard</li>
        <li><a href="../risks/">Full Risk and Control Dashboard</li>
        <li><a href="../admin/">Manage Risks and Controls</li>
    </ul>
</div>

