{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

{% if top_risk_list %}
    <table>
        <tr><th>ID</th><th>Score</th><th>Description</th><th>Absolute Likelihood</th><th>Absolute Impact</th><th>Residual Likelihood</th><th>Owner</th></tr>    
{% for Risk in top_risk_list %}
        <tr><td>{{ Risk.riskref }}</td><td>{{ Risk.Score }}</td><td>{{ Risk.description }}</td><td>{{ Risk.Absolute_Likelihood }}</td><td>{{ Risk.Absolute_Impact }}</td><td>{{ Risk.Residual_Likelihood }}</td><td>{{ Risk.owner }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>No risks are available.</p>
{% endif %}
